<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ukraine_is</title>
</head>
<body>
    <h1> Хвилинка української поезії </h1>
    <h2> Юрій Іздрик</h2>

        <p> привіт, ти ше спиш чи, може, ти здох?<br>
        а може, лежиш десь у комі? <br>
        колись обіцяв одне небо на двох<br>
        і ліжко у спільному домі..</p>

        <p> колись говорив ти красиві слова<br>
        про гойдалку, сад, надвечір'я..<br>
        та казка твоя - безпонтова трава,<br>
        і в подушці - вата, не пір'я.</p>

        <p>привіт, ти ше спиш чи, може, ти здох?<br>
        вже сонце їбошить в фіранку,<br>
        я тут відгрібаю по повній за двох..<br>
        вставай, суко, доброго ранку!</p>

    <h1><a href="http://127.0.0.1:8000/gambit"> Тицьни сюди! </a></h1>
</body>
</html>