div{
    background-color: magenta;
    }

.blue-block{
    background-color: blue;
    color: white;
     }

.text-white{
     color: #ffffff
     }
#title{
     font-size: 30px;
     text-align: center;
     }
p{
    background-color: gray;
    font-family: Arial san-serif;
    font-style: italic;
    font-size: 20px;
    color: magenta;
    }