.card{
    display: inline-block;
    width: 10%;
    height: 30px;
    background: gray;
    color: blue;
    border: 2px solid magenta;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;

}

.red_card{
    background: red;

}